html
    frameset(rows="35px,*,25%")
      frame(src="frame_a.htm" frameborder="0")
      frameset(cols="*,200px")
          frame(src="frame_b.htm" frameborder="0")
          frame(src="frame_b.htm" frameborder="0")
      frame(src="frame_c.htm" frameborder="0")
